@media (max-width: 1400px) {
  .about {
    .menu {
      padding: 0;
    }
    .title {
      padding-top: 75px;
    }
  }
}
@media (max-width: 1295px) {
  .slick-arrow {
    display: none;
  }
}

@media (max-width: 1170px) {
  .about {
    .column {
      padding: 40px 0px;
    }
    .column-wrap {
      padding: 0;
    }
  }
}
@media (max-width: 990px) {
}
@media (max-width: 790px) {
  .menu {
    .menu-list {
      display: none;
      a {
        color: #000;
      }
    }
    .burger-menu {
      display: block;
      .menu-list {
        a {
          color: #000;
        }
      }
    }
    background: #c4d4d4dc;
  }
}
@media (max-width: 600px) {
  .cintent-wrap {
    display: block;
  }
  .flip-wrap {
    display: contents;
  }
  .header {
    .title {
      width: 300px;
      font-size: 15px;
      span {
        font-size: 31px;
      }
    }
  }
}

@media (max-width: 530px) {
  .works .works-slider__items .works-slider__img img {
    width: 100%;
    height: 250px;
  }
  .footer {
    .footer-wrap {
      display: block;
    }
  }
}
@media (max-width: 500px) {
  body {
    .particles-js-canvas-el {
      display: none;
    }
  }
  @media (max-width: 360px) {
  }
  .header {
    .title {
      line-height: 42px;
      span {
        font-size: 40px;
      }
    }
  }

  .flip-wrap .flip {
    width: 250px;
  }
}
@media (min-width: 992px) {
  .menu-list {
    display: flex !important;
  }
}
