@import "vars";
@import "libs";
@import "fonts";
* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  min-width: 320px;
  overflow-x: hidden;
  background-color: #0c60c9;
}

#scroller {
  position: fixed;
  /** позиция кнопки scroll to top **/
  bottom: 30px;
  /** картинка кнопки наверх**/
  background: transparent url(../img/DownArrows.svg) no-repeat left top;
  transform: rotate(180deg);
  width: 32px;
  height: 32px;
  cursor: pointer;
  /** скрываем кнопку в начале **/
  z-index: 10;
}
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url(../img/thumb-1920-1050920.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#page-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: 0 auto;

  position: absolute;
}
.container {
  color: #e4b800;
  text-align: center;
  max-width: 1170px;
  margin: 0 auto;
}
// section header
.header {
  padding-bottom: 120px;
  .header-inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .container {
    color: #e4b800;
    text-align: center;
    max-width: 1170px;
    margin: 0 auto;
  }

  .title {
    max-width: 680px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;

    span {
      font-size: 52px;
      font-weight: 700;
      padding-top: 40px;
    }
    margin: auto;
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 40px;
      font-weight: 100;
      margin: 0 auto;
    }

    a {
      font-family: "Roboto Slab", serif;
      color: #000;
      text-decoration: none;
      span {
        font-weight: 100;
        transition: all 0.5s;
        border-bottom: 1px solid;
      }
      span:nth-child(2) {
        transition-delay: 0.1s;
      }
      span:nth-child(3) {
        transition-delay: 0.2s;
      }
      span:nth-child(4) {
        transition-delay: 0.3s;
      }
      &:hover {
        span {
          font-weight: 400;
        }
        span:nth-child(4) {
          transition-delay: 0.3s;
        }
        span:nth-child(3) {
          transition-delay: 0.2s;
        }
        span:nth-child(2) {
          transition-delay: 0.1s;
        }
        span:nth-child(1) {
          transition-delay: 0s;
        }
      }

      &.hover-shadow {
        &:hover {
          $color: #ddd;
          text-shadow: 1px 1px 0px $color, 2px 2px 0px $color,
            3px 3px 0px $color;
        }
      }
      &.hover-color {
        &:hover {
          $color: #ddd;
          //color: darkmagenta;
          border-color: darkmagenta;
        }
      }
    }
  }
}
// .shadow {
//   -webkit-box-shadow: 0px 7px 17px -2px rgba(117, 117, 117, 1);
//   -moz-box-shadow: 0px 7px 17px -2px rgba(117, 117, 117, 1);
//   box-shadow: 0px 7px 17px -2px rgba(117, 117, 117, 1);
// }

.menu {
  padding: 15px 0 15px;
  background: rgba(86, 86, 86, 0.4);
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  z-index: 99;

  .menu-list {
    display: flex;

    text-decoration: none;
    list-style: none;
    padding: 0 5px;
    position: relative;

    a {
      text-decoration: none;
      font-family: "Roboto", sans-serif;
      color: #e4b800;
      padding: 0 15px;
      &:hover {
        border-radius: 4px;
        background-color: #2575e7;
        transition: 0.4s;
      }
    }
  }
  .btn-menu {
    display: flex;
    div {
      margin: auto;
    }
    img {
      padding: 0 5px;
    }
  }
}
//section about start
.about {
  .burger-menu {
    display: none;
  }
  padding-bottom: 120px;
  .fixed {
    position: fixed;
    top: 0;

    width: 100%;
  }

  .clone-nav {
    text-align: center;
  }

  // background: rgba(5, 59, 151, 0.2);
  &-inner {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: -190px;
      width: 315px;
      height: 1px;
      background: #e4b800;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: -190px;
      right: 0;
      width: 315px;
      height: 1px;
      background: #e4b800;
    }
  }

  .title {
    padding-top: 120px;
    max-width: 555px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    &__text {
      font-size: 30px;
      margin: 0 0 30px;
      font-weight: 700;
    }
    &__subtext {
      font-size: 18px;
    }
    &__line {
      width: 100px;
      height: 1px;
      background: rgba(135, 135, 135, 0.5);
      margin: 30px auto;
    }
  }
  .row {
    color: #252424e8;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    .column-wrap {
      width: 25%;
      padding: 0 15px;
    }
    .column {
      border-radius: 4px;
      background: #fff;
      border-bottom: 1px solid #d4d4d4;
      text-align: center;
      padding: 40px 20px;
      margin: 0 0 20px;
      &__icon {
        margin: 0 0 15px;
        justify-content: center;
        display: flex;
      }
      &__title {
        margin: 0 0 15px;
        padding: 0;
        color: #e4b800;
      }
      &__text {
      }
    }
  }
}
//section about end
//section works start
.works {
  padding-top: 100px;
  padding-bottom: 100px;
  .title {
    max-width: 555px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    &__text {
      font-size: 30px;
      margin: 0 0 30px;
      font-weight: 700;
    }
    &__subtext {
      font-size: 18px;
    }
    &__line {
      width: 100px;
      height: 1px;
      background: rgba(135, 135, 135, 0.5);
      margin: 30px auto;
    }
  }
  &-inner {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: -84px;
      width: 315px;
      height: 1px;
      background: #e4b800;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: -84px;
      right: 0;
      width: 315px;
      height: 1px;
      background: #e4b800;
    }
  }
  .works-slider-inner {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  .works-slider__items {
    height: 400px;
    margin: 0 auto;

    padding-bottom: 50px;
    .works-slider__img {
      position: relative;
      background-size: 500px;

      background-position: top;

      img {
        margin: auto;
        width: 500px;
        height: 300px;
        background: rgba(86, 86, 86, 0.23);
        border-radius: 10px;
      }
    }
  }
  .works-slider__subtitle {
    max-width: 500px;
    font-size: 16px;
    line-height: 17px;
    padding-bottom: 15px;
    margin: 0 auto;
    padding-bottom: 15px;
  }
  &__subtitle {
    max-width: 500px;
    font-size: 16px;
    line-height: 17px;
    padding-bottom: 15px;
    margin: 0 auto;
    padding-bottom: 15px;
  }
}
.slick-next {
  position: absolute;
  font-size: 0;
  background-image: url(../img/aroright.png);
  background-position: center;
  width: 32px;
  height: 32px;
  border: none;
  outline: none;
  bottom: 27px;
}

.slick-prev {
  position: absolute;
  font-size: 0;
  z-index: 5;
  background-image: url(../img/arorleft.png);
  position: absolute;
  bottom: 27px;
  background-position: center;
  width: 32px;
  height: 32px;
  border: none;
  outline: none;

  left: 548px;
}
.slick-dots {
  position: absolute;
  bottom: -4px;
  left: 477px;
  z-index: 5;
  display: flex;
  font-size: 0;
  .slick-active {
    button {
      background: #e4b800;
    }
  }
  button {
    width: 15px;
    height: 15px;
    margin-left: 5px;

    border-radius: 50%;
  }
  li {
    list-style: none;
  }
}
//section works end
//section skills start
.skills {
  padding-bottom: 100px;
  .skills-content {
    .title {
      padding-top: 120px;
      max-width: 555px;
      text-align: center;
      margin: 0 auto;
      font-size: 18px;
      &__text {
        font-size: 30px;
        margin: 0 0 30px;
        font-weight: 700;
      }
      &__subtext {
        font-size: 18px;
        padding-bottom: 20px;
      }
      &__line {
        width: 100px;
        height: 1px;
        background: rgba(135, 135, 135, 0.5);
        margin: 30px auto;
      }
    }
    .row {
      display: flex;
    }
    .btn-update {
      display: none;
    }
    .counter {
      display: inline-flex;
      cursor: pointer;
      width: 200px;
      height: 200px;
      max-width: 100%;
      position: relative;
      justify-content: center;
      align-items: center;
      font-size: calc(1em + 1vmin);
      transition: height 0.2s ease-in-out;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.2);
      margin: 1em 0;
    }
    .percentage {
      position: absolute;
      text-align: center;
      top: 50%;
      left: 0;
      right: 0;
      vertical-align: middle;
      transform: translate3d(0, -50%, 0);
    }
    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
    input {
      width: 200px;
    }

    body {
      font-family: "Open Sans", sans-serif;
      text-align: center;
    }
    .bg-style {
    }
  }
}
//section skills end
//section contact start
.contact {
  margin-bottom: 120px;
  .title {
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 555px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    &__text {
      font-size: 30px;
      margin: 0 0 30px;
      font-weight: 700;
    }
    &__subtext {
      font-size: 18px;
    }
    &__line {
      width: 100px;
      height: 1px;
      background: rgba(135, 135, 135, 0.5);
      margin: 30px auto;
    }
  }
  .footer-form {
    background: #ddd;
    margin: 0 auto;
    max-width: 555px;
    .footer-title {
      color: #666;
    }
    input {
      padding: 12px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      background-color: transparent;
      height: 38px;
      display: block;
      width: 100%;
      &::placeholder {
        color: #718db2;
        font-size: 11px;
        font-family: "Lato", sans-serif;
        font-weight: 400;
      }
    }
    textarea {
      border: 1px solid rgba(255, 255, 255, 0.5);
      background-color: transparent;
      height: 38px;
      display: block;
      width: 100%;
      padding: 12px;
      height: 85px;
      resize: none;
      margin-bottom: 10px;
      &::placeholder {
        color: #718db2;
        font-size: 11px;
        font-family: "Lato", sans-serif;
        font-weight: 400;
      }
    }
    button {
      text-transform: uppercase;
      color: #fff;
      font-size: 13px;
      font-family: "Roboto", sans-serif;
      border: none;
      background-color: #2575e7;
      padding: 10px;
      cursor: pointer;
      width: 100%;
    }
  }
}
//section contact end
//section ready start
.ready {
  .title {
    padding-top: 50px;
    padding-bottom: 60px;
    max-width: 555px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    &__text {
      font-size: 30px;
      margin: 0 0 30px;
      font-weight: 700;
    }
    &__subtext {
      font-size: 18px;
    }
    &__line {
      width: 100px;
      height: 1px;
      background: rgba(135, 135, 135, 0.5);
      margin: 30px auto;
    }
  }
  padding-bottom: 100px;

  &__text {
    font-size: 20px;
  }
  &__text2 {
    font-size: 20px;
    padding: 20px 0 30px;
  }
  &__btn {
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 4px;

    max-width: 150px;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
.cintent-wrap {
  display: flex;
  justify-content: center;
}
.ready-list {
  display: flex;
  align-items: center;
  font-size: 18px;
  ul {
    list-style: none;
  }
}
//section ready end
//section footer start
.footer {
  background: #ddd;

  padding-top: 30px;
  padding-bottom: 30px;
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-copyright {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #c4c4c4;
  }
  .footer-logo {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: #000000;
    span {
      color: #ffc700;
    }

    .footer-f {
      a {
        border-radius: 50%;
        width: 40px;
        img {
        }
      }
    }
  }
  .footer-btn {
    padding: 5px 25px;
    border: 3px solid#ffc700;
    a {
      color: #000;
    }
  }

  .btn {
    a {
      text-decoration: none;
    }
  }

  .footer-top {
  }
}
.footer-vk {
  img {
    width: 30px;
  }
}
.footer-f {
  a {
    img {
      border-radius: 50%;
      width: 40px;
    }
  }
}
.flip-wrap {
  display: flex;
  justify-content: space-between;

  .flip {
    position: relative;
    > .front,
    > .back {
      display: block;
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-duration: 0.5s;
      transition-property: transform, opacity;
    }
    > .front {
      transform: rotateY(0deg);
    }
    > .back {
      position: absolute;
      opacity: 0;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      transform: rotateY(-180deg);
    }
    &:hover {
      > .front {
        transform: rotateY(180deg);
      }
      > .back {
        opacity: 1;
        transform: rotateY(0deg);
      }
    }
    &.flip-vertical {
      > .back {
        transform: rotateX(-180deg);
      }
      &:hover {
        > .front {
          transform: rotateX(180deg);
        }
        > .back {
          transform: rotateX(0deg);
        }
      }
    }
  }
  .flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    width: 300px;
    > .front,
    > .back {
      display: block;
      color: #666;
      width: inherit;
      background-size: cover !important;
      background-position: center !important;
      height: 400px;
      padding: 1em 2em;
      background: #ddd;
      border-radius: 10px;
      p {
        font-size: 0.9125rem;
        line-height: 160%;
        color: #666;
      }
    }
  }
}
//section footer end

@import "media";
