@import "vars";
@import "libs";
@import "fonts";
html,
body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.form {
  margin: 10px auto;
  padding: 30px;
  max-width: 700px;
  border: 2px solid #429aff;
  border-radius: 10px;
  button {
    width: 160px;
    border: 1px solid #429aff;
    background: none;
    padding: 10px;
    transition: 0.5s;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      transition: 0.5s;
      background-color: #429aff;
      color: #fff;
    }
  }
}
.title {
  padding-left: 30px;
  h2 {
    font-size: 30px;
    color: #66757f;
  }
}
.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}
.formWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  label {
    color: #429aff;
  }
}
.inputcustom {
  width: 100%;
  input {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 2px solid #429aff;
    margin-bottom: 20px;
    outline: none;
  }
}
.labelcustom {
  width: 100%;
  margin-bottom: 10px;
  color: hsl(204, 100%, 54%);
}
.ref {
  padding-left: 20px;
  width: 100%;
  display: flex;
  input {
    margin-right: 10px;
  }
  color: #737373;
  margin-bottom: 30px;
  a {
    margin-left: 20px;
    color: #737373;
    transition: 0.5s;
    &:hover {
      color: #4a3d3d;
      transition: 0.5s;
    }
  }
}
.inputBox {
  width: 20px !important;
  height: 20px;
}
.btn-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn-start {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  input {
    color: #fff;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
    border: 2px solid #429aff;
    background-color: #429aff;

    margin-bottom: 20px;
    outline: none;
    &:hover {
      cursor: pointer;
      background-color: hsl(204, 100%, 54%);
    }
  }
}
.colorCheckbox {
  width: 100%;
  display: flex;
  align-items: center;
  input {
    margin-left: 9px;
    width: 30px;
    height: 30px;
  }
}
.technology-wrap {
  padding-top: 30px;
  padding-left: 30px;

  width: 50%;
  input {
    display: flex;
    margin-bottom: 0;
    width: 29px;
    height: 29px;
    align-items: center;
    justify-content: center;
  }
}
.technology-wrap__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
@import "media";
